@model AddingCollectionViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Creating a collection";
}

@functions{
    IEnumerable<SelectListItem> GetThemeSelectList()
    {
        return Model.Themes.Select(t => new SelectListItem 
        { 
            Value = t.Id.ToString(),
            Text = t.Name 
        });
    }
}

<div class="container">
    <h4 class="mt-2 mx-2">Creating a collection</h4>
    <hr class="mb-4 mt-2" />
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <article class="card-body">
                    <div class="form-group">
                        <label class="col-form-label" for="nameField">Collection name</label>
                        <input id="nameField" class="form-control" asp-for="Name" />
                        <small><span class="text-danger" asp-validation-for="Name"></span></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="descriptionField">Collection description</label>
                        <textarea id="descriptionField" rows="6" class="form-control" asp-for="Description"></textarea>
                        <small><span class="text-danger" asp-validation-for="Description"></span></small>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="themeField">Collection theme</label>
                        <select id="themeField" class="form-control" asp-items="@GetThemeSelectList()" asp-for="SelectedTheme"></select>
                    </div>
                    <div class="form-group mt-3 js-picture-field">
                        <div class="drop-zone">
                            <span class="drop-zone__prompt">Drop image here or click to upload</span>
                            <input class="drop-zone__input" type="file" accept="image/*" asp-for="File" />
                        </div>
                        <button class="btn btn-block btn-outline-danger btn-sm mt-2 js-reset-button">Reset image</button>
                    </div>
                </article>
            </div>
        </div>  
        <div class="col-md-6">

        </div>
    </div>
</div>

<script src="~/js/drag-n-drop.js" asp-append-version="true"></script>